@import "~@fluentui/react/dist/sass/References.scss";

.empLeaves {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.tableRow {
  text-align: center;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.flex {
  display: flex;
  gap: 22px;
  padding: 15px;
  color: #333333;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: flex;
  gap: 22px;
  padding: 15px;
  color: #333333;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    display: grid;
    // grid-template-columns: 1fr;
  }
}

.flex2 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: #333;
  align-items: center;
  border-bottom: 2px solid #e6e6e6;
}

@media screen and (max-width: 768px) {
  .flex2 {
    gap: 20px;
    // grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .flex2 {
    gap: 20px;
    // grid-template-columns: 1fr;
  }
}

.remainingLeaveText {
  font-weight: 700;
  text-align: center;
  font-size: 16px;
}

.LeaveButton {
  text-align: end;
}

.SubmitBtn {
  margin-left: 17rem;
  margin-top: 2rem;
}

.LeaveManagementText {
  font-weight: 700;
  font-size: 20px;
}

.customizedInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  // display: grid;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  // border-top: white;
}

.label {
  font-weight: bold;
  font-size: 16px;
}

.formWidth {
  width: 500px;
}

@media only screen and (max-width: 768px) {
  /* set the width to 100% for small screens */
  .formWidth {
    width: 100%;
  }
}

.submissionButton {
  // cursor: pointer;
  // width: 100%;
  // padding: 12px 20px;
  margin: 8px 0;
  display: grid;
  // border: 1px solid #ccc;
  // border-radius: 4px;
  // box-sizing: border-box;
  // text-align: center;
}

.submissionButton1 {
  padding: 23px 20px;
}

.flex3 {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.OnSubmitMessage {
  text-align: center;
}

.OnSubmitMessageH1 {
  font-size: 24px;
  color: black;
  font-weight: 600;
}

.OnSubmitMessageP {
  font-size: 20px;
  color: green;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.error-message {
  animation: shake 0.5s;
  animation-iteration-count: 1;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 6px 30px;
}

// .ProgressBarWidth {
//   width: 30%;
//   box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
//   padding: 12px;s
//   /* border: 1px solid; */
//   border-radius: 3%;
//   background-color: #f5f5f5;
// }

.MainDiv {
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%), 0 0px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 6px;
}

.ProgressBarMainDiv {
  // display: flex;
  // box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  // padding: 14px;
  // margin: auto;
}

.ProgressBarChildern {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.ProgressBarChildern,
.ProgressBarMainDiv {
  display: flex;
  padding: 14px;
  margin: auto;
}

.ProgressBarChildernWrapper {
  width: 100px;
  height: 100px;
}

.ProgressBarChildernText {
  margin-left: 22px;
  color: #5a5e7c;
}

.MainText {
  font-weight: 400;
  font-size: 24px;
  font-weight: 500;
}

@media only screen and (max-width: 1206px) {
  .ProgressBarMainDiv {
    flex-direction: column;
  }

  .ProgressBarChildern {
    margin-bottom: 20px;
    flex-direction: column;
    text-align: -webkit-center;
  }
}

.ApplyLeaveButton {
  background: #00b3c6;
  border: none;
  width: 129px;
  height: 36px;
  border-radius: 6px;
}

.CircularProgressbarText {
  fill: black;
  font-size: 30px;
  font-weight: 600;
}
